
/*-------------------------- header section-------------------------- */


/*-------------------------- Hero section --------------------------*/


/*-------------------------- Feature section-------------------------- */

/*-------------------------- Work section-------------------------- */

/* --------------------------team section-------------------------- */

/*-------------------------- Company section -------------------------- */

/*-------------------------- Footer-address section-------------------------- */

/* -----------------------------MODAL--------------------------------- */

/*-------------------------- Portfolio------------------------------ */
