.company {
    padding-top: 94px;
    text-align: center;
    padding-bottom: 94px;
  }
  
  .company-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }
  
  .company-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .company-iteam {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }
  
  .company-link {
    fill: #afb1b8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  