.header .container {
    display: flex;
    align-items: center;
  }
  
  .header {
    border-bottom: 1px solid #ececec;
  }
  
  .logo,
  .sub-logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  .sub-logo {
    color: var(--primary-text-color);
  }
  
  .logo {
    margin-right: 93px;
  }
  
  .header-list {
    list-style: none;
    display: flex;
    column-gap: 50px;
    margin-left: auto;
  }
  

  
  .header-list .link:hover,
  .header-list .link:focus {
    color: var(--accent-color);
  }
  
  
  .header-list {
    margin-left: auto;
    align-items: center;
    justify-content: center;
  }
  
  .header-list .tel,
  .header-list .mail {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    position: relative;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .mail-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  
  .mail-icon:hover {
    fill: var(--accent-color);
  }
  
  .phone-icon {
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    fill: currentColor;
  }
  
  .phone-icon:hover {
    fill: var(--accent-color);
  }
  
  .header-list .tel:focus,
  .header-list .tel:hover {
    color: var(--accent-color);
  }
  
  .header-list .mail:focus,
  .header-list .mail:hover {
    color: var(--accent-color);
  }