.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/Img.jpg);
    max-width: 1600px;
    background-color: var(--secondary-bg-color);
    padding: 200px 0;
    margin: 0 auto;
    text-align: center;
    &__title {
      color: var(--primary-bg-color);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      max-width: 696px;
    }
  }
  
  .hero__pre__title {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .hero__button {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    border: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: #188ceb;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      }
  }
  