.work {
    padding-bottom: 94px;
  }
  
  .work-list {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  
  .work-iteam {
    position: relative;
  }
  
  .work-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    width: 370px;
    padding: 27px 0;
  }